<div class="d-flex align-items-center justify-content-between">
    <div class="d-flex flex-column card-manage">
        <p class="text-center">Patients traités aujourd'hui</p>
        <span class="text-center card-span"><i class="fas fa-users"></i> <span class="count">92</span></span>
    </div>
    <div class="d-flex flex-column card-manage">
        <p class="text-center">Consultations aujourd'hui</p>
        <span class="text-center card-span"><i class="fas fa-stethoscope"></i> <span class="count">76</span></span>
    </div>
    <div class="d-flex flex-column card-manage">
        <p class="text-center">Facturation du jour</p>
        <span class="text-center card-span"><i class="far fa-money-bill-alt"></i> <span class="count">7890</span>€</span>
    </div>
    <div class="d-flex flex-column card-manage">
        <p class="text-center">Facturation moyenne</p>
        <span class="text-center card-span"><i class="fas fa-cash-register"></i> <span class="count">249</span>€</span>
    </div>
</div>