<a class="d-flex justify-content-center align-items-center">
{#    <button href="{{ path('email_delete', { 'id' : email.id }) }}" class="datatable-button deleteAjax">#}
    <button href="#" class="datatable-button deleteAjax">
        <i class="fas fa-times"></i>
    </button>
</a>
