{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="accueil-content">
        <div class="wrapper">
            {% include('accueil/base/_vertical-nav.html.twig') %}
            <div class="main_content">
                <div class="info">
                    <div>
                        <h2 class="text-center">Agenda</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}