<div class="footer d-flex justify-content-around align-items-center fixed-bottom">
    <div>
        {% if twigClinic.getActualClinic %}
            <span class="uppertext">Urgences de nuit : </span> {{ twigClinic.getActualClinic.phone2 }}
        {% else %}
            <span class="uppertext">Urgences de nuit : </span> XX.XX.XX.XX.XX
        {% endif %}
    </div>

    <span class="border-footer"></span>

    <div>
        {% if twigClinic.getActualClinic %}
            <span class="uppertext">Contact : </span> {{ twigClinic.getActualClinic.phone }}
        {% else %}
            <span class="uppertext">Contact : </span> XX.XX.XX.XX.XX
        {% endif %}
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            <span class="uppertext">Recrutement</span>
        </a>
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            <span class="uppertext">Contact</span>
        </a>
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            <span class="logo-footer"><i class="fab fa-facebook-square"></i></span>
        </a>
        <a href="#">
            <span class="logo-footer"><i class="fab fa-instagram"></i></span>
        </a>
        <a href="#">
            <span class="logo-footer"><i class="fab fa-linkedin"></i></span>
        </a>
        <a href="#">
            <span class="logo-footer"><i class="fab fa-twitter-square"></i></span>
        </a>
        <a href="#">
            <span class="logo-footer"><i class="fab fa-youtube"></i></span>
        </a>
    </div>
</div>