<div class="footer d-flex justify-content-around align-items-center mb-5">
    <div>
        {% if twigClinic.getActualClinic %}
            {{ twigClinic.getActualClinic.name }} © 2020
        {% else %}
            Vetogiciel © 2020
        {% endif %}
    </div>

    <span class="border-footer"></span>

    <div>
        <a href="#">
            Mentions Légales
        </a>
    </div>

    <span class="border-footer"></span>

    {% if twigClinic.getActualClinic and twigSettings.getPhotographSite(twigClinic.getActualClinic) %}
        <div>
            {% if twigSettings.getPhotographSite(twigClinic.getActualClinic)  %}
                <a href="{{ twigSettings.getPhotographSite(twigClinic.getActualClinic) }}" target="_blank">
            {% else %}
                <a href="#">
            {% endif %}
                Photos : {{ twigSettings.getPhotograph(twigClinic.getActualClinic) }}
            </a>
        </div>

        <span class="border-footer"></span>
    {% endif %}

    <div>
        <a href="{{ path('index') }}">
            Site internet : Vetogiciel
        </a>
    </div>
</div>