<div class="sidebar">

    <a href="{{ path('admin_accueil_index') }}" class="d-flex align-items-center justify-content-center flex-column">
        <img src="{{ asset('build/images/logo-light.png') }}" alt="vetogiciel" title="Logo Vetogiciel" class="light-logo">
        <h2>Accueil</h2>
    </a>

    <ul>
        <li><a href="{{ path('admin_calendar_index') }}"><i class="far fa-calendar-alt"></i> Agenda</a></li>
        <li><a href="#"><i class="fas fa-user"></i> Clients</a></li>
        <li><a href="#"><i class="fas fa-credit-card"></i> Encaissements</a></li>
        <li><a href="#"><i class="fas fa-shopping-cart"></i> Vente Direct</a></li>
        <li><a href="#"><i class="far fa-file-alt"></i> Documents</a></li>
        <li><a href="#"><i class="fas fa-cubes"></i> Stocks</a></li>
        <li><a href="#"><i class="fas fa-list-ul"></i> Notes</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i> Contacts</a></li>
        <li><a href="{{ path('admin_index') }}"><i class="fas fa-sign-out-alt"></i> Deconnexion</a></li>
    </ul>
</div>