.index-admin {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-transform: uppercase;
  }

  img {
    height: 150px;
  }
}

.container-admin {
  margin: 100px 20px 20px 0px;

  a {
    color: $black;

    &:hover {
      color: $second-color;
    }
  }

  .navbar {
    background-color: $light-grey;
    height: 82vh;
  }

  .border-nav-accueil {
    border-top: 1px solid $grey-shadow;
    padding: 5px;
    margin: 0px;
    width: 100%;
  }

  .logo-admin-accueil {
    color: $second-color;
    font-size: 1.2em;
    margin: 10px;
  }
}

#manage-form {
  background-color: white;
  height: 50px;
  padding: 20px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  width: 380px;

  #clinic-select {
    width: 250px;

    option {
      color: $darken-grey;
    }
  }
}

.welcome-admin {
  font-size: 1.2em;
  font-style: italic;
  color: $grey-shadow;
}

.card-manage {
  background-color: $white;
  border: 1px solid $light-grey;
  border-radius: 7px;
  padding: 20px;
  color: $grey-shadow;

  .card-span {
    font-size: 2.5em;
    font-weight: bold;
    color: $darken-grey;
  }
}

.dashboard-titles {
  padding: 10px 20px;
  font-size: 26px;
  color: $grey-shadow;

  h2 {
    margin-bottom: 0;
    display: flex;
    align-items: end;
    margin-left: 15px;

    svg {
      margin-right: 15px;
    }
  }
}

.graph-zone {
  background-color: $white;
  border: 1px solid $grey-shadow;

  .graph {
    border-top: 1px solid darken($light-grey, 20%);
  }
}

.best-sells {
  width: 277px;
  border-left: 1px solid $grey-shadow;

  .trophy {
    font-size: 23px !important;
  }

  .sell {
    border-top: 1px solid $light-grey;
    padding: 8px 10px;

    .seller {
      font-size: 15px;
      color: $darken-grey;

      .client {
        float: left;
        font-size: 45px;
      }

      .user-info {
        font-weight: 500;
        font-size: 20px;
        color: $white !important;
        text-align: right;
      }

      .user-extra {
        font-style: italic;
        color: $white;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.bottom-bar {
  background-color: $darken-blue;
  color: $white;
  width: 100%;
  height: 38px;
  font-size: 12px;
  padding-right: 75px;
}
