.settings-card {
  background-color: $white;

  &:hover {
    background-color: $grey-shadow;
    box-shadow: 3px 3px 4px 0px $white inset;
    border-top: none;
    border-left: none;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;

    .card-text {
      color: $white;
    }

    .settings-icon {
      color: $white;
    }
  }

  .settings-icon {
    color: $darken-blue;
  }

  .card-text {
    color: $grey-shadow;
    font-size: 16px;
  }

  h5 {
    font-size: 40px;
    color: $darken-grey;
  }
}