.text-show {

  a {
    color: $black;
    &:hover {
      color: $second-color;
    }
  }

  span {
    font-weight: bold;
  }
}

.warning-client {
  color: red;
  font-size: 1.5em;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}