$main-color: #FFF;
$second-color: #1DB5FF;
$third-color: #566573;
$darken-blue: #1A5276;
$grey-shadow: #B2BABB;
$darken-grey: #566573;
$light-grey: #EAEDED;
$flash-grey: #F4F6F6;
$light-blue: #AED6F1;
$warning: #C0392B;
$black: #000;
$warning: #F5B041;

$title-font: 'Raleway', sans-serif;
$text-font: 'Crimson Text', serif;

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}
.custom-file-input:lang(fr) ~ .custom-file-label::after {
  content: "Parcourir";
}