<a class="d-flex justify-content-center align-items-center">
    <button href="{{ path('admin_calendar_booking_delete', { 'id' : booking.id }) }}"
            class="datatable-button deleteAjax"
    >
        <i class="fas fa-times"></i>
    </button>
</a>
