{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="mb-5">
        <a href="{{ path('admin_article_category_index') }}">
            <button class="custom-button">
                <i class="fas fa-backspace"></i> Retour
            </button>
        </a>
    </div>
    {{ include('admin/content/category/include/_form.html.twig') }}
{% endblock %}