{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="accueil-content">
        <div class="wrapper">
            {% include('accueil/base/_vertical-nav.html.twig') %}
            <div class="main_content">
            <div class="info">
                <div>

                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
