<container>
    <row class="header">
        <div class="center-div text-center">
            <a href="#">
                <img src="/build/images/vetogiciel-logo.png" class="logo" alt="Vetogiciel Logo">
            </a>
        </div>
    </row>
    <row>
        <div class="center-div">
            <h1>
                Merci de confirmer votre adresse mail
            </h1>
        </div>
    </row>
    <row>
        <columns>
            <p>
                Afin de <strong>confirmer votre adresse mail</strong>, merci de cliquer sur le lien suivant :
            </p>
            <br>
        </columns>
    </row>
    <row>
        <div>
            <div class="center-div">
                <button class="custom-button">
                    <a href="#" style="color: #FFF">
                        Je confirme mon adresse
                    </a>
                </button>
            </div>

            <br>
            <p>
                Ce lien expire dans X heures
            </p>
        </div>
    </row>
    <row>
        <div style="margin-top: 20px; text-align: end">
            Cordialement.
            <br>
            <div>
                L'équipe <a href="#" style="color: #000">Vétogiciel</a>
            </div>
        </div>
    </row>
</container>
