<div>
    <h3 class="main-color">Newsletter</h3>
    <br>
    Vous souhaitez recevoir les nouvelles offres d'emlois et être tenu au courant des nouvelles de la clinique ?
    <br />
    Inscrivez-vous à la newsletter, nous ne manquerons pas de vous tenir au courant.
    <br />
    <br />
    <a href="#">
        <button class="custom-button">
            <i class="far fa-newspaper"></i> S'inscrire à la newsletter
        </button>
    </a>
</div>

<br />
<br />
<hr>