<div class="article-content">
    <div class="wrapper">
        <div class="sidebar">
            <h3 class="main-color text-center">Parcourir les catégories</h3>
            <ul>
                {% for category in categories %}
                    <li class="d-flex justify-content-between">
                        <a href="{{ path('admin_content_index') }}" class="{% if app.request.get('_route') starts with 'admin_content_' %}actual-link{% endif %}">
                            {{ category.title }}
                        </a>
                        <span class="main-color"><i class="fas fa-chevron-right"></i></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>