<a class="d-flex justify-content-center align-items-center">
    <button href="{{ path('admin_article_category_delete', { 'id' : category.id }) }}" class="datatable-button deleteAjax">
        <i class="fas fa-times"></i>
    </button>
</a>
