{% extends 'base.html.twig' %}

{% block body %}
    <div class="index-margin-top">
        <h1 class="main-color text-center">{{ clinic.name }}</h1>
        <div>
            {{ include('base/_footer.html.twig') }}
        </div>
    </div>
{% endblock %}